<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/login.css"> <!-- Updated stylesheet link -->
 
  <title>Login</title>
</head>
<body>

  <div id="login-container">
    <div class="login__img">
      <img src="./images/official_logo.png" alt="">
    </div>
    <div class="login__content">
      <h1></h1>
      <form action="/login" method="POST">
        <p>{{ .InvalidUserMsg }}</p>
        <input type="text" name="username" placeholder="Username" required>
        <p>{{ .InvalidPasswordMsg }}</p>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
      </form>
      <div class="forgot-password">
        <a href="#">Forgot Password?</a>
      </div>
    </div>
  </div>

</body>
</html>
