<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="https://od.lk/s/OTBfNDE0NjQxODBf/app_logo-playstore-removebg-preview.png">
  <title>Add Notice</title>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" href="../css/student.css">
  <style>
    /* Style for overlay */
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      z-index: 9999; /* Ensure it's on top of everything */
    }

    /* Style for loading animation */
    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 24px;
    }

  </style>
</head>
<body>
    <div class="wrapper hover_collapse">
        <div class="top_navbar">
            <div class="menu">
                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="logo">UB CAMPUS SAFETY</div>
            <div class="notification_icon">
                <i class="fas fa-bell" id="notification_icon"></i>
            </div>
        </div>
            
        <div class="notification" id="notification_window" style="display: none;">
            {{ range .Notifications }}
            <div class="notification-item">
                <p><strong>{{.Title}}</strong></p>
                <p><strong>Posted:</strong> {{.Created_at.Format "2006-01-02"}}</p>
                <p>{{.Message}}</p>
            </div>
            {{ end }}
        </div>
        <div class="sidebar">
            <div class="sidebar_inner">
                <ul>
                    <li>
                        <a href="/panic">
                            <span class="icon"><i class="fa fa-panic"></i></span>
                            <span class="text">Panic</span>
                        </a>
                    </li>
                    <li>
                        <a href="/reports">
                            <span class="icon"><i class="fas fa-file-upload"></i></span>
                            <span class="text">Add Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="/view-contact">
                            <span class="icon"><i class="fas fa-address-book"></i></span>
                            <span class="text">Contacts</span>
                        </a>
                    </li>
                    <li>
                        <a href="/profile">
                            <span class="icon"><i class="fa fa-user"></i></span>
                            <span class="text">Profile</span>
                        </a>
                    </li>
                    <li>
                        {{ if .IsAuthenticated }}
                        <a href="/user/logout" method="POST"> <span class="icon"><i class="fa fa-arrow-left"></i></span>
                          <span class="text">Logout</span> </a>
                        {{ end }}
                      </li>
                </ul>
            </div>
        </div>
    </div>

    <section>
        <h3>My Emergency Contacts</h3>
        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Dial</th>
                    <th>Message</th>
                    <th>Email</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {{ if .MyContacts }}
                {{ range .MyContacts }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td><a href="tel:{{ .Number }}"><span class="icon"><i class='fas fa-phone-alt' style='font-size:20px;color:green'></i></span></a></td>
                    <td><a href="sms:{{ .Number }}"><span class="icon"><i class='fas fa-comment' style='font-size:20px;color:blue'></i></span></a></td>
                    <td><a href="mailto:{{ .Email }}"><span class="icon"><i class='fas fa-envelope' style='font-size:20px;color:blue'></i></span></a></td>
                    <td>
                        <form action="/remove-mycontact" method="POST">
                          <input type="hidden" name="contactName" value="{{ .Name }}">
                          <button type="submit" class="icon-button" style="background-color: transparent; border: none;">
                            <i style="font-size:20px;color:red" class="fa">&#xf00d;</i>
                          </button>
                        </form>
                      </td>
                       </tr>
                {{ end }}
                {{ else }}
                <tr>
                    <td colspan="5">Nothing here to see.</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <div class="custom-button-container">
            <input type="button" value="UB Emergency Contacts" onclick="window.location.href='/view-contact'" class="custom-button" />
            <input type="button" value="Add Contact" onclick="window.location.href='/add-mycontact'" class="custom-button" />
            </div>
    </section>
    

<script src="../js/student.js"></script>

<script>
    function showLoading() {
      // Show overlay with loading animation
      document.getElementById('overlay').style.display = 'block';
    }
  
    // Assuming successful submission redirects to /report
    window.onload = function() {
      if (window.location.href.includes('/report')) {
        // Hide overlay if redirected to /report
        document.getElementById('overlay').style.display = 'none';
        // Change loading text to "Successful"
        document.querySelector('.loading').innerText = 'Successful';
      }
    };
  
    var notificationIcon = document.getElementById('notification_icon');
          var notificationWindow = document.getElementById('notification_window');
  
          notificationIcon.addEventListener('click', function(event) {
              event.stopPropagation(); // Prevents the click event from reaching the document
              if (notificationWindow.style.display === 'none') {
                  notificationWindow.style.display = 'block';
              } else {
                  notificationWindow.style.display = 'none';
              }
          });
  
          // Add click event listener to the document to hide the window when clicked outside
          document.addEventListener('click', function(event) {
              if (!notificationWindow.contains(event.target) && event.target !== notificationIcon) {
                  // Clicked outside the notification window
                  notificationWindow.style.display = 'none';
              }
          });
  
          // Toggle expand/collapse of notification items
          var notificationItems = document.querySelectorAll('.notification-item');
          notificationItems.forEach(function(item) {
              item.addEventListener('click', function() {
                  item.classList.toggle('expanded');
              });
          });
  
  </script>

</body>
</html>
