<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="https://od.lk/s/OTBfNDE0NjQxODBf/app_logo-playstore-removebg-preview.png">
    <title>PANIC</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="../js/student.js" defer></script>

    <link rel="stylesheet" href="../css/student.css">
    <script>
      window.console = window.console || function (t) {};
      var consoleWarn = window.console.warn;
      function warn() {
        consoleWarn.apply(console, arguments);
      }
      window.open = function () {
        warn("window.open is disabled.");
      };
      window.print = function () {
        warn("window.print is disabled.");
      };
      window.alert = function () {
        warn("window.alert is disabled.");
      };
      window.confirm = function () {
        warn("window.confirm is disabled.");
      };
      window.prompt = function () {
        warn("window.prompt is disabled.");
      };
      window.Notification = function () {
        warn("HTML5 notifications are disabled.");
      };
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
</head>

 <div class="wrapper hover_collapse">
        <div class="top_navbar">
            <div class="menu">
                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="logo">UB CAMPUS SAFETY</div>
            <div class="notification_icon">
                <i class="fas fa-bell" id="notification_icon"></i>
            </div>
        </div>
            
        <div class="notification" id="notification_window" style="display: none;">
            {{range .Notifications}}
            <div class="notification-item">
                <p><strong>{{.Title}}</strong></p>
                <p><strong>Posted:</strong> {{.Created_at.Format "2006-01-02"}}</p>
                <p>{{.Message}}</p>
              </div>
            {{end}}
        </div>

        <div class="sidebar">
            <div class="sidebar_inner">
                <ul>
                    <li>
                        <a href="/panic">
                            <span class="icon"><i class="fa fa-panic"></i></span>
                            <span class="text">Panic</span>
                        </a>
                    </li>
                    <li>
                        <a href="/reports">
                            <span class="icon"><i class="fas fa-file-upload"></i></span>
                            <span class="text">Add Report</span>
                        </a>
                    </li>
                    <li>
                        <a href="/view-contact">
                            <span class="icon"><i class="fas fa-address-book"></i></span>
                            <span class="text">Contacts</span>
                        </a>
                    </li>
                    <li>
                        <a href="/profile">
                            <span class="icon"><i class="fa fa-user"></i></span>
                            <span class="text">Profile</span>
                        </a>
                    </li>
                    <li>
                        {{ if .IsAuthenticated }}
                        <a href="/user/logout" method="POST"> <span class="icon"><i class="fa fa-arrow-left"></i></span>
                          <span class="text">Logout</span> </a>
                        {{ end }}
                      </li>
                </ul>
            </div>
        </div>
    </div>

<section translate="no" class="body">
    <div class="grid"></div>

    <div class="warning"></div>

    <div class="base">
      <button id="activate"><p class="TinButton">EMERGENCY <br> TRIGGER<p>
        <span></span>
      </button>
    </div>

    <div class="box opened" id="cover">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <span></span><span></span>
    </div>

    <div class="hinges"></div>


    <div id="panel">
      <div id="msg">SENDING EMERGENCY CALL IN:
      <div id="time">5</div>
      <span id="abort">ABORT</span>
      <span id="detonate">SENT</span>
    </div>




    <div id="restart"><button id="reload"></button></div>

    <div id="mute"></div>

    <audio id="alarm">
      <source src="self-destruct-alarm-count.mp3" type="audio/mpeg" />
    </audio>
</section>
<script id="rendered-js">
      var theCount;
      var alarm = document.getElementById("alarm");
      var panel = document.getElementById("panel");

      var detonate = document.getElementById("detonate");
      alarm.volume = 0.25; //volume level

      var time = document.getElementById("time");
      function showCountDown() {
        time.innerText = time.innerText - 1;
        if (time.innerText == 0) {
          clearInterval(theCount);
          time.classList.add("crono");
          abort.classList.add("hide");
          detonate.classList.add("show");
          setTimeout(function () {

            reload.classList.add("show");
            alarm.pause();
          }, 1500);
        }
      }

      var cover = document.getElementById("cover");
      cover.addEventListener("click", function () {
        if (this.className == "box") this.classList.add("opened");
        else this.classList.remove("opened");
      });

      var btn = document.getElementById("activate");
      activate.addEventListener("click", function () {
        this.classList.add("pushed");
        alarm.load();
        alarm.currentTime = 10.1;
        alarm.play();
        setTimeout(function () {
          panel.classList.add("show");
          theCount = setInterval(showCountDown, 1000);
          alarm.load();
          alarm.play();
        }, 500);
      });

      var abort = document.getElementById("abort");
      abort.addEventListener("click", function () {
        btn.classList.remove("pushed");
        panel.classList.remove("show");
        clearInterval(theCount);
        time.innerText = 9;
        alarm.pause();
        alarm.currentTime = 10;
        alarm.play();
      });

      var reload = document.getElementById("restart");
      reload.addEventListener("click", function () {
        panel.classList.remove("show");
        abort.classList.remove("hide");
        detonate.classList.remove("show");
        cover.classList.remove("opened");
        btn.classList.remove("pushed");
        this.classList.remove("show");
        time.classList.remove("crono");
        time.innerText = 9;
      });

      setTimeout(function () {
        cover.classList.remove("opened");
      }, 100);

      var mute = document.getElementById("mute");
      mute.addEventListener("click", function () {
        if (this.className == "muted") {
          alarm.muted = false;
          this.classList.remove("muted");
        } else {
          alarm.muted = true;
          this.classList.add("muted");
        }
      });
    </script>

<script src="../js/student.js"></script>

<script>
    function showLoading() {
      // Show overlay with loading animation
      document.getElementById('overlay').style.display = 'block';
    }
  
    // Assuming successful submission redirects to /report
    window.onload = function() {
      if (window.location.href.includes('/my-contact')) {
        // Hide overlay if redirected to /report
        document.getElementById('overlay').style.display = 'none';
        // Change loading text to "Successful"
        document.querySelector('.loading').innerText = 'Successful';
      }
    };
  
    var notificationIcon = document.getElementById('notification_icon');
          var notificationWindow = document.getElementById('notification_window');
  
          notificationIcon.addEventListener('click', function(event) {
              event.stopPropagation(); // Prevents the click event from reaching the document
              if (notificationWindow.style.display === 'none') {
                  notificationWindow.style.display = 'block';
              } else {
                  notificationWindow.style.display = 'none';
              }
          });
  
          // Add click event listener to the document to hide the window when clicked outside
          document.addEventListener('click', function(event) {
              if (!notificationWindow.contains(event.target) && event.target !== notificationIcon) {
                  // Clicked outside the notification window
                  notificationWindow.style.display = 'none';
              }
          });
  
          // Toggle expand/collapse of notification items
          var notificationItems = document.querySelectorAll('.notification-item');
          notificationItems.forEach(function(item) {
              item.addEventListener('click', function() {
                  item.classList.toggle('expanded');
              });
          });
  
  </script>

</body>
</html>
