<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UB Campus Safety App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="../css/student.css">
</head>
<body>
<div class="navbar">
    <div class="nav-icon" onclick="toggleSidebar()">☰</div>
    <div class="selected-item">Panic</div>
</div>
<div class="sidebar">
    <div class="app-info">
        <img src="../images/official_logo.png" alt="App Logo">
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/panic">
                    <span class="icon">🚨</span> Panic Button
                </a>
            </li>
            <li class="activeMenuItem">
                <a href="/reports">
                    <span class= "icon">📊</span> Reports
                </a>
            </li>
            <li>
                <a href="/call">
                    <span class= "icon">📞</span> Call
                </a>
            </li>
            <li>
                <a href="/profile">
                    <span class="icon">&#128100;</span> Profile
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span class="icon">&#x2794;</span> Logout
                </a>
            </li>
        </ul>
    </div>
</div>

<section>
<div class="container">
<h1>PANIC PANEL </h1>
</section>
</body>
<script src="../js/student.js"></script>
</html>
