<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="https://od.lk/s/OTBfNDE0NjQxODBf/app_logo-playstore-removebg-preview.png">
  <title>Add Report</title>

  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" href="../css/student.css">

  <style>
    /* Style for overlay */
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      z-index: 9999; /* Ensure it's on top of everything */
    }

    /* Style for loading animation */
    .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 24px;
    }
    #notification_icon{
    color: white;
    font-weight: 100;
}

.notification-item {
    cursor: pointer;
    overflow: hidden;
    max-height: 3.6em; /* Approximately two lines of text */
    transition: max-height 0.5s ease;
}
.notification-item.expanded {
    max-height: none;
}
#locationchoice {
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#locationchoice option {
  padding: 6px;
}
  </style>
</head>
<body>
    <div class="wrapper hover_collapse">
        <div class="top_navbar">
            <div class="menu">
                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="logo">UB CAMPUS SAFETY</div>
            <div class="notification_icon">
                <i class="fas fa-bell" id="notification_icon"></i>
            </div>
        </div>
            
        <!-- Notification window -->
        <div class="notification" id="notification_window" style="display: none;">
          {{ range .Notifications }}
          <div class="notification-item">
              <p><strong>{{.Title}}</strong></p>
              <p><strong>Posted:</strong> {{.Created_at.Format "2006-01-02"}}</p>
              <p>{{.Message}}</p>
          </div>
          {{ end }}
      </div>
	<div class="sidebar">
		<div class="sidebar_inner">
		<ul>
			<li>
				<a href="/reports">
					<span class="icon"><i class="fas fa-file-upload"></i></span>
					<span class="text">Add Report</span>
				</a>
			</li>
      <li>
				<a href="/view-contact">
					<span class="icon"><i class="fas fa-address-book"></i></span>
					<span class="text">Contacts</span>
				</a>
			</li>
			
			<li>
				<a href="/profile">
					<span class="icon"><i class="fa fa-user"></i></span>
					<span class="text">Profile</span>
				</a>
			</li>
      <li>
        {{ if .IsAuthenticated }}
        <a href="/user/logout" method="POST"> <span class="icon"><i class="fa fa-arrow-left"></i></span>
          <span class="text">Logout</span> </a>
        {{ end }}
      </li>
		</ul>
		</div>
	</div>
</div>

  <div class="container">
    <div class="login__img">
        <img src="../images/app_logo-playstore-removebg-preview.png" alt="">
        <h1>UB Security</h1>
    </div>

    <form action="/report-add" id="reportform" method="POST" enctype="multipart/form-data"> 
      <label for="is-anonymous">Submit Anonymously <input type="checkbox" id="is-anonymous" name="is_anonymous"></label><br><br>
      
      <label class="form-label" for="incident_type">Type of Incident:</label><br>
      <input class="form-input" list="incident_types" id="incident_type" name="type_of_incident" onchange="handleIncidentType()">
      <datalist id="incident_types">
          <option value="Theft">
          <option value="Assault">
          <option value="Vandalism">
          <option value="Harassment">
      </datalist><br><br>
      
      <label for="location">Location:</label><br>
      <input type="hidden" id="location" name="location" required>
      <select id="locationchoice">
        <option value="" selected disabled>Select a location</option>
        <option value="17.244782109951572, -88.76003692342708">Jaguar Building</option>
        <option value="17.243779927424914, -88.75985852969787">Iguana Building</option>
        <option value="17.243609914132474, -88.75983486912153">Kinkajou Building</option>
        <option value="17.24319591229174, -88.7596762885771">Scarlet Macaw Building</option>
        <option value="17.242665501029737, -88.75952771381773">Jabiru building</option>
        <option value="17.242417910418347, -88.7601218503104">Manatee Building</option>
        <option value="17.244339469513168, -88.75944161313633">Education & Arts Building</option>
        <option value="17.242007763795556, -88.76014410214768">Hummingbird Building</option>
        <option value="17.2450771238675, -88.76168054195143">Regional Language Center</option>
        <option value="17.243938246309032, -88.76219438793626">Library Building</option>
        <option value="17.243552072339043, -88.76181786911745">Central Medical Laboratory</option>
        <option value="17.241783738915952, -88.75978716247677">Engineering Department</option>
        <option value="17.240557933696326, -88.7587762062404">Gymnasium</option>
        <option value="17.240677039334418, -88.75932814410466">Student Dormitory</option>
      </select>
      
      <label for="useLocation">Use Device Location <input type="checkbox" id="useLocation" name="device_location" onchange="getLocation()"></label><br><br>
      
      <label for="description">Description:</label><br>
      <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
      
      <label for="images">Upload Images:</label><br>
      <input type="file" id="images" name="file_path" accept="image/*" multiple><br><br>
      
      <!-- Add overlay for loading animation -->
      <div class="overlay" id="overlay">
        <div class="loading">Submitting...</div>
      </div>
      
      <input type="submit" value="Submit" class="buttonSubmit" onclick="showLoading()">
    </form>
  </div>

<script src="../js/student.js"></script>

<script>
  function showLoading() {
    // Show overlay with loading animation
    document.getElementById('overlay').style.display = 'block';
  }

  // Assuming successful submission redirects to /report
  window.onload = function() {
    if (window.location.href.includes('/report')) {
      // Hide overlay if redirected to /report
      document.getElementById('overlay').style.display = 'none';
      // Change loading text to "Successful"
      document.querySelector('.loading').innerText = 'Successful';
    }
  };

  document.addEventListener('DOMContentLoaded', function() {
    // Get the dropdown and input elements
    var locationDropdown = document.getElementById('locationchoice');
    var locationInput = document.getElementById('location');

    // Add event listener to the dropdown
    locationDropdown.addEventListener('change', function() {
      // Update the input field's value with the selected option's value
      locationInput.value = locationDropdown.value;
    });
  });


  var notificationIcon = document.getElementById('notification_icon');
        var notificationWindow = document.getElementById('notification_window');

        notificationIcon.addEventListener('click', function(event) {
            event.stopPropagation(); // Prevents the click event from reaching the document
            if (notificationWindow.style.display === 'none') {
                notificationWindow.style.display = 'block';
            } else {
                notificationWindow.style.display = 'none';
            }
        });

        // Add click event listener to the document to hide the window when clicked outside
        document.addEventListener('click', function(event) {
            if (!notificationWindow.contains(event.target) && event.target !== notificationIcon) {
                // Clicked outside the notification window
                notificationWindow.style.display = 'none';
            }
        });

        // Toggle expand/collapse of notification items
        var notificationItems = document.querySelectorAll('.notification-item');
        notificationItems.forEach(function(item) {
            item.addEventListener('click', function() {
                item.classList.toggle('expanded');
            });
        });
</script>

</body>
</html>
