<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UB Campus Safety App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="../css/student.css">
</head>
<body>
<div class="navbar">
    <div class="nav-icon" onclick="toggleSidebar()">☰</div>
    <div class="selected-item">Reports</div>
</div>
<div class="sidebar">
    <div class="app-info">
        <img src="../images/official_logo.png" alt="App Logo">
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="/panic">
                    <span class="icon">🚨</span> Panic Button
                </a>
            </li>
            <li class="activeMenuItem">
                <a href="/reports">
                    <span class= "icon">📊</span> Reports
                </a>
            </li>
            <li>
                <a href="/call">
                    <span class= "icon">📞</span> Call
                </a>
            </li>
            <li>
                <a href="/profile">
                    <span class="icon">&#128100;</span> Profile
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span class="icon">&#x2794;</span> Logout
                </a>
            </li>
        </ul>
    </div>
</div>

<section>


<div class="container">

<form action="/report-add" id="reportform" method="POST"> 
<input type="checkbox" id="is-anonymous" name="is_anonymous">
<label for="is-anonymous">Submit Anonymously</label><br><br>

<label class="form-label" for="incident_type">Type of Incident:</label><br>
<input class="form-input" list="incident_types" id="incident_type" name="type_of_incident" onchange="handleIncidentType()">
<datalist id="incident_types">
    <option value="Theft">
    <option value="Assault">
    <option value="Vandalism">
    <option value="Harassment">
</datalist><br><br>



  
  <label for="location">Location:</label><br>
  <input type="text" id="location" name="location" required><br><br>

  <input type="checkbox" id="useLocation" name="device_location" onchange="getLocation()">
  <label for="useLocation">Use Device Location</label><br><br>

  <label for="description">Description:</label><br>
  <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

  <label for="images">Upload Images:</label><br>
  <input type="file" id="images" name="file_path" accept="image/*" multiple><br><br>

 
  <input type="submit" value="Submit" class="buttonSubmit">
</form>
</div>
</section>
</body>
<script src="../js/student.js"></script>
</html>
