<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guard Panel</title>


<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<link rel="stylesheet" href="../css/guard.css">

</head>
<body>


<div class="wrapper hover_collapse">
	<div class="top_navbar">
		<div class="menu">
			<div class="hamburger">
				<i class="fas fa-bars"></i>
			</div>

		</div>
		<div class="logo">UB CAMPUS SAFETY</div>
		
	</div>

	<div class="sidebar">
		<div class="sidebar_inner">
		<ul>
			<li>
				<a href="/check-in-out">
					<span class="icon"><i class="fas fa-calendar-check"></i></span>
					<span class="text">Check in/out</span>
				</a>
			</li>
			<li>
				<a href="/guard-reports">
					<span class="icon"><i class="fas fa-file-upload"></i></span>
					<span class="text">Add Report</span>
				</a>
			</li>
			<li>
				<a href="/guard-view-report">
					<span class="icon"><i class="fa fa-file"></i></span>
					<span class="text">View Report</span>
				</a>
			</li>
			
			<li>
				<a href="/guard-profile">
					<span class="icon"><i class="fa fa-user"></i></span>
					<span class="text">Profile</span>
				</a>
			</li>
      <li>
				<a href="/">
					<span class="icon"><i class="fa fa-arrow-left"></i></span>
					<span class="text">Logout</span>
				</a>
			</li>
    

		</ul>
		</div>
	</div>



</div>
<section>
</section>
<script src="../js/guard.js"></script>
</body>
</html>
